.appbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-opacity);
  height: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 0rem 2rem;
}

.appbar-clock-widget__wrapper {
  margin: 1rem 1rem;
}

@media (max-width: 767.98px) {
  .appbar__container {
    font-size: 0.7rem;
    margin-left: -1rem;
  }
  .appbar-clock-widget__wrapper {
    margin: 0.1rem 0.1rem;
  }
}
