.currencies-rate__container {
  margin-top: 3rem;
}

.currencies-rate__non-watchlisted {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  height: 4rem;
  box-shadow: 0px 5px 5px 0px var(--secondary-color-opacity-medium);
}

.currencies-rate__non-watchlisted i,
.currencies-rate__watchlisted i {
  color: var(--yellow-color);
}

.currencies-rate__watchlisted {
  margin-top: 3rem;
  background-color: var(--primary-color-opacity);
  border: 0.1rem solid var(--primary-color);
  color: var(--primary-text-color);
  margin-bottom: 5rem;
}

.watchlist__refresh__btn {
  margin: 0.5rem 0.5rem;
  border-radius: 1rem 1rem;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem 0.5rem;
}
.watchlist__refresh {
  margin: 1rem 1rem;
  justify-content: space-around;
  position: relative;
  left: 5vw;
  height: 3em;
}
.watchlist__content {
  margin-bottom: 2em;
  width: 100%;
  padding: 0rem 0rem;
}

@media (max-width: 767.98px) {
  .watchlist__refresh {
    left: 5vw;
  }

  .watchlist__refresh__btn {
    height: 1.8rem;
    width: 1.8rem;
    margin: 0rem 0rem;
  }
}
