.home-container {
  display: grid;
  grid-template-rows: 5fr 2fr;
  justify-items: center;
  align-items: center;
}
.home-clock-wrapper {
  text-shadow: 0rem 0.2vw 0rem #393735;
}
.clock-time {
  text-shadow: 0rem 0.4vw 0rem #393735;
  font-size: 7rem;
  font-weight: var(--font-weight-boldest);
}
.clock-greet {
  font-size: 5rem;
  font-weight: var(--font-weight-bold);
}
.clock-date {
  font-size: 1.5rem;
  font-weight: var(--font-weight-boldest);
}

.home-quotes-wrapper {
  padding: 1rem 2rem;
  background-color: var(--primary-color-opacity);
  font-size: 0.7rem;
  font-weight: var(--font-weight-light);
  position: relative;
  top: -5vh;
}

.quotes-text {
  text-align: center;
  text-overflow: ellipsis;
  padding: 0.3rem 0rem;
}
.quotes-author {
  font-size: 0rem;
}
.home-quotes-wrapper:hover > .quotes-author {
  font-size: 1rem;
  padding: 0.1rem;
  font-weight: var(--font-weight-boldest) !important;
  transition: font-size 0.3s linear;
  color: var(--secondary-color);
}

/* Small devices */
@media (max-width: 767.98px) {
  .clock-time {
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
  }

  .clock-greet {
    font-size: 3rem;
  }

  .clock-date {
    font-size: 1rem;
  }
}
