.nav-container {
display: flex;
  gap: 2rem;
}

.nav-links-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  padding: 0.5rem 1rem;
  color: var(--primary-text-color);
}

.nav-link:hover {
  background-color: var(--secondary-color);
  transition: var(--transition);
}
.nav-link.active {
  font-weight: var(--font-weight-boldest);
  border: 0.1rem solid var(--secondary-color);
}
